body {
  background-color: #d8cce5;
  font-size: 16px;
}

h3 {
  display: inline;
  margin: 10px 10px 0 0;

}

/* Overall layout wrappers */

#content {
  width: 70%;
  float: right;
  margin: 20px 0 0 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.sortbar {
  margin: 25px 0 40px;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header */

.App-header {
  background-color: #400080;
  height: 150px;
  margin: 0;
  color: #ebe5f2;
  line-height: 150px;
  overflow: hidden;
}

.App-title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.App-title a {
  color: #fff;
  text-decoration: none;
}

/* Sidebar */

#sidebar {
  margin: 20px 0 0 0;
  width: 25%;
  float: left;
}

#sidebar h1 {
  background-color: #400080;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: 10px 0 0 0;
  font-size: 1.8em;
  color: #d8cce5;
}

#sidebar .add-post {
  margin: 10px 0 20px 0;
  border-radius: 10px;
}

#sidebar .add-post a:hover {
  border-radius: 10px;
}

#sidebar ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style-type: none;
  color: #000;
  background-color: #794ca6;
  border-radius: 0 0 10px 10px;
}

#sidebar li {
  line-height: 60px;
  font-size: 1.3em;
}

#sidebar ul li a {
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  background-color: #400080;
}

/* Post */

.post {
  padding: 0;
  margin: 0 0 40px;
  color: #000;
  border-radius: 10px;
}

.post h2 {
  background-color: #400080;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 2em;
  border-radius: 10px 10px 0 0;
  color: #ebe5f2;
}

.post h2 a, 
.post h2 a:visited {
  color: #fff;
  text-decoration: none;
}

.post img {
  max-width: 100%;
}

.post-meta {
  background-color: #8c66b2;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

.post-meta a, 
.post-meta a:visited {
  color: #fff;
  font-size: 18px;
}

.post-wrapper {
  margin-bottom: 30px;
}

.post-link {
  float: right;
}

.post-votes {
  float: left;
  margin-left: 5%;
}

.post-author {
  background-color: #8c66b2;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.post-content, 
.add-comment,
.comment-content {
  margin: 0;
  padding: 20px;
  background-color: #b299cc;
}

.add-comment {
  border-radius: 0 0 20px 20px;
}

.comment-meta {
  background-color: #8c66b2;
  line-height: 50px;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  border-top: 7px solid #400080;
}

.comment-meta a, 
.comment-meta a:visited {
  color: #fff;
  font-size: 18px;
}

/* Input forms */

label {
  display: block;
  text-align: left;
  margin: 10px 0;
}

.label-box {
  display: inline-block;
  width: 90px;
  font-weight: bold;
}

.large-input {
  width: 300px;
  height: 100px;
  margin-top: 10px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

input {
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

/* Buttons */

.vote-button {
  font-weight: bold;
  min-height: 29px;
  min-width: 29px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-color: #8c66b2;
  border: none;
}

button {
  padding: 10px;
  background-color: #8c66b2;
  border: 0;
  font-size: 18px;
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
}

.upvote {
  background-image: url(/img/upvote.png);
  background-size: cover;
  margin-right: 20px;
}

.downvote {
  background-image: url(/img/downvote.png);
  background-size: cover;
  margin-left: 20px;
}

/* Presentational rules */

.centered {
  width: 350px;
  margin: 0 auto;
}

.right {
  float: right;
}


