body {
  background-color: #d8cce5;
  font-size: 16px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#sidebar {
  margin: 20px 0 0 0;
  width: 25%;
  float: left;
}

#sidebar h1 {
  background-color: #400080;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: 10px 0 0 0;
  font-size: 1.8em;
  color: #d8cce5;
}

#sidebar .add-post {
  margin: 10px 0 20px 0;
  border-radius: 10px;
}

#sidebar .add-post a:hover {
  border-radius: 10px;
}

#sidebar ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style-type: none;
  color: #000;
  background-color: #794ca6;
  border-radius: 0 0 10px 10px;
}

#sidebar li {
  line-height: 60px;
  font-size: 1.3em;
}

#sidebar ul li a {
  display: block;
  color: #000;
}

#sidebar ul li a:hover {
  background-color: #fff;
}

#content {
  width: 70%;
  float: right;
  margin: 20px 0 0 0;
}

.post {
  padding: 0;
  margin: 0 0 40px;
  color: #000;
  background-color: #b299cc;
  border-radius: 10px;
}

.post h2 {
  background-color: #400080;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 2em;
  border-radius: 10px 10px 0 0;
  color: #ebe5f2;
}

.post img {
  max-width: 100%;
}

.post-meta {
  background-color: #8c66b2;
  line-height: 50px;
  font: 30px;
  border-radius: 0 0 10px 10px ;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #400080;
  height: 150px;
  margin: 0;
  color: #ebe5f2;
  line-height: 150px;
  overflow: hidden;
}

.App-title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.App-title a {
  color: #fff;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
